{% load static %}
<div class="col-lg-6">
	<div class="br-product__media br-product-slide-vertical-image">

		<div class="br-product__image">
			<div class="js-br-product-image">
				{% for photo in product.photos.all  %}
                <div>
                    <div class="br-product__thumb"><img src="{{photo.file.url}}" alt=""></div>
                </div>
                {% endfor %}
			</div>

		</div>
		<div class="br-product__label-wrapper"><span class="br-product__label sale">SALE</span></div>

		<div class="br-product-nav-wrapper">
			<div class="js-br-product-nav br-slick-white">
                {% for photo in product.photos.all  %}
				<div class="br-product-nav__item"><div class="br-product__thumb"><img src="{{photo.file.url}}" alt=""></div></div>
                {% endfor %}
				
			</div>
		</div>
	</div>

</div>