{% load static %}

<footer class="site-footer">

	<div class="br-site-info">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-sm-8">
					<div class="br-site-contact">
						<a href="{% url 'shop:about' %}">Giới thiệu</a>
						<a href="{% url 'shop:contact' %}">Liên hệ</a>
						<a href="#">RSS</a>
						<a href="#">Site Map</a></div>
				</div>
				
			</div>
		</div>
	</div>

</footer>