{% extends "base.html" %}
{% load static %}

{% block title %}
	Mua sắm - Locas Shoes
{% endblock title %}

{% block content %}
	<main class="site-main">
		<div class="page-title page-title--classic mb-0" style="background-image:url({% static "img-demo/bg-page-title/1.jpg" %})">
			<div class="container">
				<div class="page-title__main">
					<div class="row">
						<div class="col-md-6 col-sm-6"><h1 class="text-uppercase mb-5">Mua sắm</h1></div>
					</div>
				</div>
			</div>
		</div>
		<section>
			<div class="container">
				<div class="br-filter-wrapper">
					<div class="overflow-hidden">
						<div class="br-left">
							<a class="icon-filter" href="productslist-fullwidth.html"><span class="sr-only">Danh sách</span><i class="fa fa-th-list" aria-hidden="true"></i> </a>

							<a class="icon-filter active" href="productsgrid-fullwidth.html"><span class="sr-only">filter grid</span> <i class="fa fa-th" aria-hidden="true"></i> </a>

							<span class="ml-50">Showing 1-4 of 60 sản phẩm</span></div>

						<div class="br-right">
							<div class="br-filter-group br-filter-group--sort">
								<span>Sắp xếp theo</span>
								<select>
									<option>Phổ biến</option>
									<option>Xem nhiều</option>
									<option>Mới nhất</option>
									<option>Từ thấp tới cao</option>
									<option>Từ cao xuống thấp</option>
								</select>
							</div>

						</div>
					</div>
				</div>
			</div>

			<div class="container" id="product_table_list">
				{% include "shop/includes/product_table_list.html" %}
			</div>
		</section>
	</main>
{% endblock content %}
{% block scripts %}
	<script src="{% static "js/shop/list.js" %}"></script>
{% endblock scripts %}






