{% extends "base.html" %}

{% block title %}
	Quản lý shop
{% endblock title %}

{% block content %}
<main class="site-typo">
    <div class="container">
    	<section class="section pb-40">
    		<h2 class="h1 text-uppercase text-center mb-25">Quản lý shop</h2>
    		<div class="br-heading">
    			<div class="row">
    				<div class="col-md-3">
    					<a href="{% url "shop:upload_product" %}" class="btn btn-success">Thêm sản phẩm </a>
    				</div>
    				<div class="col-md-3">
    					<a href="#" class="btn btn-info">Biểu đồ bán hàng</a>
    				</div>
    				<div class="col-md-3">
    					<a href="{% url 'orders:manage_orders' %}" class="btn btn-danger">Xem đơn đặt hàng</a>
    				</div>
    				<div class="col-md-3">
    					<a href="{% url 'coupons:coupon_manage' %}" class="btn btn-info">Cập nhật mã giảm giá</a>
    				</div>

    			</div>
    		</div>
    	</section>
</main>
{% endblock content %}