{% extends "base.html" %}
{% load static %}

{% block title %}
	Giới thiệu Locas Shoes Team
{% endblock title %}

{% block content %}
	<main class="site-about">
		<section class="section">
			<div class="container">
				<div class="overflow-hidden pb-80 mb-md-30"><img src="{% static "img-demo/utils/img-1.jpg" %}" alt=""></div>
				<div class="row">
					<div class="col-md-4">
						<h2 class="h1 text-uppercase">our story</h2>
					</div>
					<div class="col-md-8">
						<h3 class="text-uppercase mb-35">we like say</h3>
						<h2 class="h1 br-slogan mb-35">If shopping doesn’t make you happy then you’re in the wrong shop!</h2>
						<h3 class="br-slogan-note mb-60 mb-md-30">The key to more success is to have a lot of pillows. In life you have to take the trash out, if you have trash in your life, take it out, throw it away, get rid of it, major key.</h3>
						<div class="row mb-70 mb-md-30"><div class="col-md-6"><p>"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p></div><div class="col-md-6"><p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.</p></div></div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4"><h2 class="h1 text-uppercase">Lucas Shoes<br>team</h2></div>
					<div class="col-md-8">
						<div class="row js-br-team br-slick-white">
							<div class="col-md-6">
								<div class="br-team">
									<div class="br-team__media"><div class="br-team__thumb"><a href="#"><img src="{% static "img-demo/teams/br-team-1.jpg" %}" alt=""></a></div><ul class="nav-social"><li><a href="#" target="_blank"><i class="fa fa-instagram"></i> <span class="sr-only">Google Plus</span></a></li><li><a href="#" target="_blank"><i class="fa fa-facebook"></i> <span class="sr-only">Facebook</span></a></li><li><a href="#" target="_blank"><i class="fa fa-pinterest"></i> <span class="sr-only">Pinterest</span></a></li><li><a href="#" data-toggle="tooltip" target="_blank" data-original-title="" title=""><i class="fa fa-twitter"></i> <span class="sr-only">Twitter</span></a></li><li><a href="#" target="_blank"><i class="fa fa-tumblr"></i> <span class="sr-only">Tumblr</span></a></li></ul></div>
									<div class="br-team__info text-center"><h3 class="br-team__name">Thomas Garza</h3><span>CEO</span></div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="br-team"><div class="br-team__media"><div class="br-team__thumb"><a href="#"><img src="{% static "img-demo/teams/br-team-2.jpg" %}" alt=""></a></div><ul class="nav-social"><li><a href="#" target="_blank"><i class="fa fa-instagram"></i> <span class="sr-only">Google Plus</span></a></li><li><a href="#" target="_blank"><i class="fa fa-facebook"></i> <span class="sr-only">Facebook</span></a></li><li><a href="#" target="_blank"><i class="fa fa-pinterest"></i> <span class="sr-only">Pinterest</span></a></li><li><a href="#" data-toggle="tooltip" target="_blank" data-original-title="" title=""><i class="fa fa-twitter"></i> <span class="sr-only">Twitter</span></a></li><li><a href="#" target="_blank"><i class="fa fa-tumblr"></i> <span class="sr-only">Tumblr</span></a></li></ul></div><div class="br-team__info text-center"><h3 class="br-team__name">Willie Hubbard</h3><span>Founder</span></div></div>
							</div>

							<div class="col-md-6"><div class="br-team"><div class="br-team__media"><div class="br-team__thumb"><a href="#"><img src="{% static "img-demo/teams/br-team-3.jpg" %}" alt=""></a></div><ul class="nav-social"><li><a href="#" target="_blank"><i class="fa fa-instagram"></i> <span class="sr-only">Google Plus</span></a></li><li><a href="#" target="_blank"><i class="fa fa-facebook"></i> <span class="sr-only">Facebook</span></a></li><li><a href="#" target="_blank"><i class="fa fa-pinterest"></i> <span class="sr-only">Pinterest</span></a></li><li><a href="#" data-toggle="tooltip" target="_blank" data-original-title="" title=""><i class="fa fa-twitter"></i> <span class="sr-only">Twitter</span></a></li><li><a href="#" target="_blank"><i class="fa fa-tumblr"></i> <span class="sr-only">Tumblr</span></a></li></ul></div><div class="br-team__info text-center"><h3 class="br-team__name">Willie Hubbard</h3><span>Founder</span></div></div></div>
							<div class="col-md-6"><div class="br-team"><div class="br-team__media"><div class="br-team__thumb"><a href="#"><img src="{% static "img-demo/teams/br-team-4.jpg" %}" alt=""></a></div><ul class="nav-social"><li><a href="#" target="_blank"><i class="fa fa-instagram"></i> <span class="sr-only">Google Plus</span></a></li><li><a href="#" target="_blank"><i class="fa fa-facebook"></i> <span class="sr-only">Facebook</span></a></li><li><a href="#" target="_blank"><i class="fa fa-pinterest"></i> <span class="sr-only">Pinterest</span></a></li><li><a href="#" data-toggle="tooltip" target="_blank" data-original-title="" title=""><i class="fa fa-twitter"></i> <span class="sr-only">Twitter</span></a></li><li><a href="#" target="_blank"><i class="fa fa-tumblr"></i> <span class="sr-only">Tumblr</span></a></li></ul></div><div class="br-team__info text-center"><h3 class="br-team__name">Willie Hubbard</h3><span>Founder</span></div></div></div>
							<div class="col-md-6"><div class="br-team"><div class="br-team__media"><div class="br-team__thumb"><a href="#"><img src="{% static "img-demo/teams/br-team-5.jpg" %}" alt=""></a></div><ul class="nav-social"><li><a href="#" target="_blank"><i class="fa fa-instagram"></i> <span class="sr-only">Google Plus</span></a></li><li><a href="#" target="_blank"><i class="fa fa-facebook"></i> <span class="sr-only">Facebook</span></a></li><li><a href="#" target="_blank"><i class="fa fa-pinterest"></i> <span class="sr-only">Pinterest</span></a></li><li><a href="#" data-toggle="tooltip" target="_blank" data-original-title="" title=""><i class="fa fa-twitter"></i> <span class="sr-only">Twitter</span></a></li><li><a href="#" target="_blank"><i class="fa fa-tumblr"></i> <span class="sr-only">Tumblr</span></a></li></ul></div><div class="br-team__info text-center"><h3 class="br-team__name">Willie Hubbard</h3><span>Founder</span></div></div></div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
{% endblock content %}