{% extends "base.html" %}
{% load static %}
{% block title %}
	Liên hệ với chúng tôi
{% endblock title %}

{% block content %}
	<main class="site-contact">

		<section class="section">
			<div class="container">

				<div class="pt-80 pb-70 br-bb">
					<div class="row">
						<div class="col-md-2"><h2 class="h1 text-uppercase">Cửa hàng</h2></div>
						<div class="col-md-4">
							<div class="br-contact-info">
								<div class="br-contact-info-group mb-20">
									<h6 class="text-uppercase mb-5">Địa chỉ</h6><p class="fz-16 dark">67 Cù Chính Lan, Hà Nội </p>
								</div>

								<div class="br-contact-info-group mb-20"><h6 class="text-uppercase mb-5">Điện thoại</h6>
									<p class="fz-16 dark">0972 649 504</p>
									<p class="fz-16 dark">0823 659 956</p>
								</div>

								<div class="br-contact-info-group mb-20"><h6 class="text-uppercase mb-5">email</h6>
									<span class="__cf_email__">lucas.shoes@gmail.com</span>
								</div>

								<div class="br-contact-info-group mb-20">
									<h6 class="text-uppercase mb-5">Mạng xã hội</h6>
									<ul class="nav-social">
										<li><a href="#" target="_blank"><i class="fa fa-instagram"></i> <span class="sr-only">Google Plus</span></a></li>
										<li><a href="https://www.facebook.com/LucasShoes.com.vn/" target="_blank"><i class="fa fa-facebook"></i> <span class="sr-only">Facebook</span></a></li>
										<li><a href="#" data-toggle="tooltip" target="_blank" data-original-title="" title=""><i class="fa fa-twitter"></i> <span class="sr-only">Twitter</span></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<h2 class="h1 text-uppercase mb-20">Liên lạc</h2>
							<form action="../../../external.html?link=http://envato.megadrupal.com/html/brilliant/index.html" method="post" class="form-contact">
								<div class="row"><div class="col-md-6"><p><label class="sr-only">Tên</label><input id="author" name="author" type="text" placeholder="Name" value=""></p></div><div class="col-md-6"><p><label class="sr-only">Email</label><input name="email" type="email" placeholder="Email" value=""></p></div></div>
								<p><label class="sr-only">We can help you?</label><input name="text" type="text" placeholder="We can help you?" value=""></p>
								<p class="mb-30"><label class="sr-only">Additional Detail</label><textarea placeholder="Additional Detail"></textarea></p><p><input name="getittouch" type="submit" value="Send" class="submit btn-primary"></p>
							</form>
						</div>
					</div>
				</div>

				<div class="opening-hours pt-80">
					<div class="row">
						<div class="col-md-2"><h2 class="h1 text-uppercase">Giờ làm việc</h2></div>
						<div class="col-md-4">
							<table class="table table-hover table-opening">
								<thead>
									<tr>
										<th><span class="h5 text-uppercase mb-0">ngày</span></th>
										<th><span class="h5 text-uppercase mb-0">giờ</span></th>
									</tr>
								</thead>
								<tbody class="fz-16">
									<tr><td>Thứ 2</td><td class="dark">Đóng cửa</td></tr>
									<tr><td>Thứ 3</td><td class="dark">11.00 - 07.00</td></tr>
									<tr><td>Thứ 4</td><td class="dark">11.00 - 07.00</td></tr>
									<tr><td>Thứ 5</td><td class="dark">11.00 - 07.00</td></tr>
									<tr><td>Thứ 6</td><td class="dark">11.00 - 07.00</td></tr>
									<tr><td>Thứ 7</td><td class="dark">11.00 - 07.00</td></tr>
									<tr><td>Chủ nhật</td><td class="dark">11.00 - 05.00</td></tr>
								</tbody>
							</table>
						</div>
						<div class="col-md-6">
							<div id="contact-map" data-init="gmap" data-lat="33.3209127" data-lng="-111.8005377" data-zoom="14" data-style="gray">
								<div data-map="marker" data-lat="33.3209127" data-lng="-111.8005377" data-icon="img/logo-contact.png">Brilliant Store in UK</div>
							</div>

							
						</div>
					</div>
				</div>

			</div>
		</section>
	</main>
{% endblock content %}