{% extends "base.html" %}
{% load static %}

{% block title %}
	Lucas Shoes - Trang mua sắm giày cao cấp
{% endblock title %}

{% block content %}

	<main class="site-main site-homepage">
		<section class="pb-20"><div class="container"><div class="br-policy"><div class="br-policy__item"><div class="br-policy__icon"><i class="br br-car"></i></div><div class="br-policy__text"><h5 class="text-uppercase mb-0">Free shipping</h5><span>Free returns &amp; exchanges</span></div></div><div class="br-policy__item"><div class="br-policy__icon"><i class="br br-money"></i></div><div class="br-policy__text"><h5 class="text-uppercase mb-0">15 Days returns</h5><span>When order over $25</span></div></div><div class="br-policy__item"><div class="br-policy__icon"><i class="br br-clock"></i></div><div class="br-policy__text"><h5 class="text-uppercase mb-0">support 24/7</h5><span>When order over $25</span></div></div></div></div></section>

		<section class="pb-70 hidden-xs">
			<div class="container">
				<div class="br-card-wrapper br-card-banner" data-item="3" data-gap="5" style="position: relative; height: 494.5px;">
					<div class="grid-sizer"></div>
					<div class="br-card inner-title" style="position: absolute; left: 0%; top: 0px;">
						<div class="br-card__media"><div class="br-card__thumb"><a href="#"><img src="{% static "img-demo/banners/banner-small-4.jpg" %}" alt=""></a></div></div>
					</div>

					<div class="br-card br-card--quad-w2 inner-title" style="position: absolute; left: 33.2751%; top: 0px;">
						<div class="br-card__media">
							<div class="slide-banner br-slick-white slick-initialized slick-slider" role="toolbar">

								<div aria-live="polite" class="slick-list draggable" style="height: 488px;">
									<div class="slick-track" role="listbox" style="opacity: 1; width: 2274px; left: 0px;">
										<div class="br-card__thumb slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide20" style="width: 758px;"><a href="#" tabindex="0"><img src="{% static "img-demo/bg-slides/slide-1.jpg" %}" alt=""></a><div class="br-card__main-noh"><div class="slide-banner-content"><div class="tb-cell"><span class="uppercase fz-20 white">the result for men</span><h2 class="white font-secondary white">Vibrant Colours</h2><span class="uppercase fz-20 white mb-40 mb-md-30">You Won’t Find Anywhere Else</span> <a href="#" class="btn btn-primary" tabindex="0">shop now</a></div></div></div></div>
									</div>
								</div>

							</div>
						</div>
					</div>
					<div class="br-card inner-title" style="position: absolute; left: 0%; top: 247px;"><div class="br-card__media"><div class="br-card__thumb"><a href="#"><img src="{% static "img-demo/banners/banner-small-7.jpg" %}" alt=""></a></div></div></div>
				</div>
			</div>
		</section>


		<section>
			<div class="container">
				<div class="br-bb pb-40">
					<div class="br-relative">
						<h2 class="br-title">NEW</h2>
					</div>

					<div class="row">
						<div class="col-lg-3 col-md-4 col-sm-6 col-tn-6">
							<div class="br-product br-product--grid">
								<div class="br-product__media">
									<div class="br-product__thumb"><a href="#"><img src="img-demo/products/3.jpg" alt=""></a></div>
									<div class="br-product__label-wrapper"><span class="br-product__label new">NEW</span></div>
									<div class="br-product__action">
										<div class="tb">
											<div class="table-cell-center"><a class="btn" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="cart"><span class="sr-only">cart</span> <i class="fa fa-shopping-bag"></i></a></div>

											<div class="table-cell-center"><a class="btn" href="product-popup.html" data-toggle="tooltip" data-placement="top" title="" data-original-title="quick view"><span class="sr-only">quick view</span> <i class="fa fa-eye"></i></a></div>
										</div>
									</div>
								</div>
								<div class="br-product__main">
									<h4 class="br-product__name"><a href="#">Women New Balance for J.Crew 696</a></h4>

									<span class="br-product__price">$168.00</span>

								</div>
							</div>
						</div>

						<div class="col-lg-3 col-md-4 col-sm-6 col-tn-6"><div class="br-product br-product--grid"><div class="br-product__media"><div class="br-product__thumb"><a href="#"><img src="img-demo/products/38.jpg" alt=""></a></div><div class="br-product__label-wrapper"><span class="br-product__label sale">SALE</span></div><div class="br-product__action"><div class="tb"><div class="table-cell-center"><a class="btn" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="cart"><span class="sr-only">cart</span> <i class="fa fa-shopping-bag"></i></a></div><div class="table-cell-center"><a class="btn" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="wish list"><span class="sr-only">wish list</span> <i class="fa fa-heart"></i></a></div><div class="table-cell-center"><a class="btn" href="product-popup.html" data-toggle="tooltip" data-placement="top" title="" data-original-title="quick view"><span class="sr-only">quick view</span> <i class="fa fa-eye"></i></a></div></div></div></div><div class="br-product__main"><h4 class="br-product__name"><a href="#">Glasses Dramos</a></h4><span class="br-product__price">$49.50 <del>$60.00</del></span></div></div></div>

						<div class="col-lg-3 col-md-4 col-sm-6 col-tn-6"><div class="br-product br-product--grid"><div class="br-product__media"><div class="br-product__thumb"><a href="#"><img src="img-demo/products/39.jpg" alt=""></a></div><div class="br-product__label-wrapper"><span class="br-product__label popular">POPULAR</span> <span class="br-product__label hot">HOT</span></div><div class="br-product__action"><div class="tb"><div class="table-cell-center"><a class="btn" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="cart"><span class="sr-only">cart</span> <i class="fa fa-shopping-bag"></i></a></div><div class="table-cell-center"><a class="btn" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="wish list"><span class="sr-only">wish list</span> <i class="fa fa-heart"></i></a></div><div class="table-cell-center"><a class="btn" href="product-popup.html" data-toggle="tooltip" data-placement="top" title="" data-original-title="quick view"><span class="sr-only">quick view</span> <i class="fa fa-eye"></i></a></div></div></div></div><div class="br-product__main"><h4 class="br-product__name"><a href="#">Parker crossbody bag</a></h4><span class="br-product__price">$32.000</span><nav class="br-select-color"><a href="#" class="bg-red">red</a> <a href="#" class="bg-black">black</a> <a href="#" class="bg-green">green</a></nav></div></div></div>

						<div class="col-lg-3 hidden-sm hidden-xs hidden-md"><div class="br-background banner-small-promote bg-small-promote"><div class="banner-small-promote__content text-center"><span class="fz-16 font-secondary dark mb-15">In Case of Holiday<br>Emergency</span><h2 class="text-uppercase fz-30">THE<br>Brilliant<br>GIFT CARD</h2><span class="line"></span> <a href="#" class="uppercase">get one now <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></div></div></div>

					</div>
				</div>
			</div>
		</section>
		
		<section class="pb-80 pt-30">
			<div class="container">
				<h2 class="br-title text-center">Bài viết mới</h2>

				<div class="row br-slick-white slick-initialized slick-slider">

					<div aria-live="polite" class="slick-list draggable">
						<div class="slick-track" role="listbox">

							<div class="col-md-4 slick-slide slick-active" data-slick-index="1" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide11" style="width: 390px;">
								<article class="post post--standard">
									<header class="entry-header">
										<div class="entry-media entry-media-thumbnail"><a href="#" tabindex="0"><img src="{% static "img-demo/blogs/11.jpg" %}" alt=""></a></div>
									</header>
									<div class="entry-container">
										<div class="post-time">DEC 08.2015</div>
										<h2 class="entry-title fz-25"><a href="#" tabindex="0">Fashion Collection Blue Color</a></h2>
										<div class="entry-meta">
											<ul class="entry-meta-list"><li>Posted by <a href="#" tabindex="0">Brilliant</a></li><li><a class="link-comment" href="#" tabindex="0">16 Comments</a></li></ul>
										</div>
									</div>
								</article>
							</div>

							<div class="col-md-4 slick-slide slick-active" data-slick-index="2" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide12" style="width: 390px;">
								<article class="post post--standard"><header class="entry-header"><div class="entry-media entry-media-thumbnail"><a href="#" tabindex="0"><img src="{% static "img-demo/blogs/12.jpg" %}" alt=""></a></div></header><div class="entry-container"><div class="post-time">NOV 12.2015</div><h2 class="entry-title fz-25"><a href="#" tabindex="0">Fashion Collection Blue Color</a></h2><div class="entry-meta"><ul class="entry-meta-list"><li>Posted by <a href="#" tabindex="0">Brilliant</a></li><li><a class="link-comment" href="#" tabindex="0">16 Comments</a></li></ul></div></div></article>
							</div>

							<div class="col-md-4 slick-slide" data-slick-index="3" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide13" style="width: 390px;">
								<article class="post post--standard"><header class="entry-header"><div class="entry-media entry-media-thumbnail"><a href="#" tabindex="-1"><img src="{% static "img-demo/blogs/11.jpg" %}" alt=""></a></div></header><div class="entry-container"><div class="post-time">jun 24.2015</div><h2 class="entry-title fz-25"><a href="#" tabindex="-1">Stand Post</a></h2><div class="entry-meta"><ul class="entry-meta-list"><li>Posted by <a href="#" tabindex="-1">Brilliant</a></li><li><a class="link-comment" href="#" tabindex="-1">16 Comments</a></li></ul></div></div></article>
							</div>

						</div>
					</div>

				</div>
			</div>
		</section>
	</main>
{% endblock content %}
