
<section class="section pb-60">
	<div class="container">
		<div class="row">
			<div class="col-md-6 pb-40">
				<div class="br-form-checkout">
					<h2 class="text-uppercase fz-30 mb-20">Cảm ơn quý khách!</h2>
					<p>Đơn hàng của quý khách đã đặt thành công.</p>
				</div>
			</div>
		</div>
	</div>
</section>